# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\du-lieu-o-E\monhoc\cac-cong-nghe-hien-dai\python-entrancce-test\Python-Django-to-do-API-set-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
